
* {
    margin: 0;
    padding: 0;
}
 
   /* navbar */

   .navbar {
    position: fixed;
    z-index: 10000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 20vh;
    color: rgba(21, 175, 167, 0.959);
    font-size: 30px;
    cursor: pointer;
}
/* 
.navbar-links {
    display: none;
} */

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar-links li a:hover{
    padding: 10px;
    border-radius: 50px;
    background-color:black;
    color: rgba(17, 224, 214, 0.945);
}



/*toggle button */
.collap {
    cursor: pointer;
    padding: 4px;
    background: transparent;
    color:#e9e4df;
    border: none;
    display: block;
    position: fixed;
    z-index: 10000;
    font-size: 32px;
    display: flex;
    
}

.collap:hover {
    background-color: rgb(11, 12, 11);
    color: rgb(19, 226, 226);
}


  /* mobile section */
  @media (max-width:700px) {  
.navbar{
    height:50px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
    .brand-title {
        margin-left: 8%;
    }

    .navbar-links {
        display: none;
    }
    
    .navbar-links {
            padding-top: 73px;
            min-height: 100vh;
            background-color: rgba(0, 0, 0, 0.616);
            width: 32%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction:column;
    
    }

    .navbar-links li {
        text-align: center;
        padding:18px;
        border-bottom: 1px solid white;
    }

    .navbar-links li a {
        font-weight: bolder;
        font-size:18px;
        padding: .5rem 1rem;
       
    }
    .navbar-links li a:hover {
       color: rgb(19, 230, 166);
    }
  
}

