
.input-field{  
      padding: 10px;
    }
    .container {
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
 .signin{
   height: 33rem;
   width: 27rem; 
   padding: 35px;
    /* position: absolute;
    top: 15%;
    left: 40%; */
    box-sizing: border-box;
    text-align: center;
    /* border-radius: 20px; */
    background-color: #000000d4;
    box-shadow:rgb(10 12 12) 0px 0px 15px 7px;
    border: 3px solid rgb(16 190 195);
  }
  .container h2{
    padding: 30px 30px;
    font-size: 60px;
    color: rgb(19, 192, 192);
  }
 h1{
    color: white;
   text-decoration: rgb(16, 128, 128) underline;
  }
  .signin input {
      color:GREY;
      padding: 15px; 
      background-color: rgba(128, 128, 128, 0.342);
       width: 250px;
       border-radius: 50px;
       font-size: 20px;
      }
      .signin input:hover { 
        /* color:black;
        background-color:white; */
        box-shadow: rgba(7, 105, 105, 0.993) 0px 0px 15px 0px;
        border: 4px solid rgba(7, 105, 105, 0.993);
      }
      .signin button{
        cursor: pointer;
        padding: 10px;
        width: 99px;
        border-radius: 50px;
        font-size: 20px;
        background-color: grey;        
      }
      .signin button:hover{
        box-shadow:green 0px 0px 15px 0px;
        border: 4px solid green;
      }
      .input-field input::placeholder{
        font-size: 20px;
        padding-left: 10px;
      }
      .ptext {
        color: rgba(20, 172, 159, 0.781);
      font-size: 20px;
      }
      .ptext a{
        font-size: 20px;
        text-decoration: none;
        color: #6c5ce7;
      }